@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: url(img/duki-banner\ -\ copia.jpg);
    background-position: center;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

header .navbar {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .logo {
    font-size: 2.1rem;
    font-weight: 600;
    color: #fff;
}

.navbar .logo span {
    color: yellow;
}

.navbar .menu-links {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.navbar a {
    color: #fcfcfc;
    text-decoration: none;
    transition: 0.2s ease;
}

.navbar a:hover {
    color: rgb(120, 28, 180);
}

.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.hero-section .content {
    color: #fff;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.hero-section .content h1 {
    font-size: 3rem;
    max-width: 600px;
}

.hero-section .content p {
    font-weight: 300;
    margin-top: 15px;
    max-width: 600px;
}

.hero-section .content button {
    background: #fff;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 38px;
    padding: 12px 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2 ease;
}

.hero-section .content button:hover {
    color: #fff;
    background:  rgb(123, 1, 204);
}

#menu-btn {
    color: #fff;
    cursor: pointer;
    display: none;
}

#close-menu-btn {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

@media screen and (max-width: 900px) {

    header {
        padding: 10px 20px;
    }

    header.show-mobile-menu::before{
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
    }
    #close-menu-btn, #menu-btn {
        display: block;
        color: #fff;
    }
    .navbar .menu-links {
        position: fixed;
        left: -260px;
        top: 0;
        flex-direction: column;
        width: 260px;
        height: 100vh;
        background: #000000;
        padding: 70px 40px 0;
        transition: left 0.15s ease;
    }

    header.show-mobile-menu .navbar .menu-links {
        left: 0;
    }

    .navbar a {
        color: #fff;
    }

    .hero-section .content {
        text-align: center;
    }

    .hero-section .content {
        max-width: 100%;
    }

    .hero-section .content {
        font-size: 2.3rem;
        line-height: 60px;
    }

    
    .hero-section .content button {
        padding: 9px 18px;
    }
}

@media screen and (max-width: 575px) {

    header {
        padding: 10px 20px;
    }
    
    header.show-mobile-menu::before{
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
    }
    #close-menu-btn, #menu-btn {
        display: block;
        color: #fff;
    }
    .navbar .menu-links {
        position: fixed;
        left: -260px;
        top: 0;
        flex-direction: column;
        width: 260px;
        height: 100vh;
        background: #000000;
        padding: 70px 40px 0;
        transition: left 0.15s ease;
    }

    header.show-mobile-menu .navbar .menu-links {
        left: 0;
    }

    .navbar a {
        color: #fff;
    }

    .hero-section .content {
        text-align: center;
    }

    .hero-section .content {
        max-width: 100%;
    }

    .hero-section .content {
        font-size: 2.3rem;
        line-height: 60px;
    }

    
    .hero-section .content button {
        padding: 9px 18px;
    }
}